﻿


@*Partial view*@



@using MVCApplication.Models 

@model List<ArtikelDTOproxy> 



@foreach (ArtikelDTOproxy b in Model)
{
    <p>
        <b> @b.Artikel_id </b> 
        <i> @b.Artikel1</i> <br />
        <i> @b.Omschrijving</i>
        <i> @b.Verkoopprijs</i>
        <i> @b.Instock</i>
        <i> @b.Categorie</i>
    </p>
    <hr />
} 