﻿


@model IEnumerable<MVCApplication.Models.ArtikelDTOproxy>



@*AjaxOptions*@
@{
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    //  Gebruiken we GET of POST
    //options.Confirm = "Zeker?";
    //  Bericht ter bevestiging, wordt getoond in een Javascript alert-box
    //options.OnBegin = "OnBegin";
    //  De Javascript functie die aangeroepen moet worden net voor de pagina wordt geupdated
    options.OnComplete = "OnComplete";
    //  De Javascript functie die aangeroepen wordt als de response data geïnitialiseerd is,
    //  maar de pagina nog niet is geupdated
    //options.OnFailure = "OnFailure";
    //  De Javascript functie die aangeroepen moet worden als een fout optreedt.
    //options.OnSuccess = "OnSuccess";
    //  De Javascript functie die aangeroepen moet worden als de pagina-update goed werd uitgevoerd.
    options.LoadingElementId = "divProgress";
    //  Het id van het element dat getoond wordt tijdens de Ajax - aanvraag
    //options.LoadingElementDuration = 1000;
    //  Tijdsduur van de "update-animatie", in millisceconden
    options.UpdateTargetId = "divproductdetail";
    //  Het ID van het DOM-element dat geupdated wordt met de response van de server
    //options.InsertionMode = InsertionMode.InsertAfter;
    //  Url voor het request (in het voorbeeld niet gebruikt)
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Artikel_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artikel1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Verkoopprijs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instock)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Artikel_id)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Artikel1)*@
            @Ajax.ActionLink(@item.Artikel1, "Artikeldetails", "Home", new { pID = item.Artikel_id}, options)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Verkoopprijs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instock)
        </td>
    </tr>
}

</table>
