﻿


@model MVCApplication.Models.ArtikelDTOproxy

<div>
    @*<h4>Artikeldetails:</h4>*@
    <hr />
    <dl class="dl-horizontal" style="width:250px;">
        <dt>
            @Html.DisplayNameFor(model => model.Artikel_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artikel_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cat_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cat_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Artikel1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artikel1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Verkoopprijs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Verkoopprijs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instock)
        </dd>



    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
