﻿


@*Index View van HomeController/Index*@



@{
    ViewBag.Title = "Home Page";
}



@using MVCApplication.Models 

@model VMIndex 



<script type="text/javascript">

    function OnComplete(e) {

        //var result = e.get_response().get_object();
        //var resultstring = JSON.stringify(result)
        ////var result = e.get_data();
        //alert(resultstring);
        //alert("Upgedated");

        //if (e == undefined) alert("Er is een fout opgetreden");
        //else
        //{
        //    //alert(json.success);
        //    //var aantal = e.result.count();
        //    //Productenlijst toevoegen
        //    $("#divproductenlijst").append('<option value="' + '">' + e.Artikel1 + '</option>');
        //}

    }

</script>


@*AjaxOptions*@
@{
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    //  Gebruiken we GET of POST
    //options.Confirm = "Zeker?";
    //  Bericht ter bevestiging, wordt getoond in een Javascript alert-box
    //options.OnBegin = "OnBegin";
    //  De Javascript functie die aangeroepen moet worden net voor de pagina wordt geupdated
    options.OnComplete = "OnComplete";
    //  De Javascript functie die aangeroepen wordt als de response data geïnitialiseerd is,
    //  maar de pagina nog niet is geupdated
    //options.OnFailure = "OnFailure";
    //  De Javascript functie die aangeroepen moet worden als een fout optreedt.
    //options.OnSuccess = "OnSuccess";
    //  De Javascript functie die aangeroepen moet worden als de pagina-update goed werd uitgevoerd.
    options.LoadingElementId = "divProgress";
    //  Het id van het element dat getoond wordt tijdens de Ajax - aanvraag
    //options.LoadingElementDuration = 1000;
    //  Tijdsduur van de "update-animatie", in millisceconden
    options.UpdateTargetId = "divproductenlijst";
    //  Het ID van het DOM-element dat geupdated wordt met de response van de server
    //options.InsertionMode = InsertionMode.InsertAfter;
    //  Url voor het request (in het voorbeeld niet gebruikt)
}



<div class="jumbotron">Spionshop</div> 

<div class="row"> 
    <div class="col-md-4" style="width: 150px;"> 
        @foreach (var b in Model.CategoriesVM)
        {
            <p>
                <b> @b.Id </b >
                @*<a href="/Home/Artikelen?pId=@b.Id">@b.Categorie</a>*@
                @Ajax.ActionLink(@b.Categorie, "Artikelen", "Home", new {pID = b.Id} , options)
            </p> 
            <hr/> 
        } 
    </div> 
    <div class="col-md-4" style="padding-right: 150px; width: 150px;">
        <h2></h2>
        <p>
            <div id="divproductenlijst"></div>
        </p>
    </div>
    <div class="col-md-4" style="padding-left:275px;">
        <h2></h2>
        <p>
            <div id="divproductdetail"></div>
        </p>
    </div>
</div>
<div id=divProgress style="display: none;">Gegegevens ophalen</div>
