﻿<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>



@using test2WebApi.Models

@model List<CategorieDTO>

<div class="jumbotron">Categorieën</div>
<div class="row">
    <div class="col-md-4">
        @foreach (CategorieDTO b in Model)
        {
            <p>
                <b> @b.Id </b> <i> @b.Categorie</i>
            </p>
            <hr />
        }
    </div>
</div>